In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
df_id = pd.read_csv('olist_customers_dataset.csv')
df_id.shape
# таблица с уникальными идентификаторами пользователей

# customer_id — позаказный идентификатор пользователя

# customer_unique_id —  уникальный идентификатор пользователя  (аналог номера паспорта)

# customer_zip_code_prefix —  почтовый индекс пользователя

# customer_city —  город доставки пользователя

# customer_state —  штат доставки пользователя

(99441, 5)

In [3]:
df_order = pd.read_csv('olist_orders_dataset.csv')
df_order.shape
#  таблица заказов
#     order_id —  уникальный идентификатор заказа (номер чека)

#     customer_id —  позаказный идентификатор пользователя

#     order_status —  статус заказа

#     order_purchase_timestamp —  время создания заказа

#     order_approved_at —  время подтверждения оплаты заказа

#     order_delivered_carrier_date —  время передачи заказа в логистическую службу

#     order_delivered_customer_date —  время доставки заказа

#     order_estimated_delivery_date —  обещанная дата доставки
# Уникальные статусы заказов в таблице olist_orders_dataset:

# created —  создан
# approved —  подтверждён
# invoiced —  выставлен счёт

# processing —  в процессе сборки заказа
# shipped —  отгружен со склада
# delivered —  доставлен пользователю
# unavailable —  недоступен
# canceled —  отменён

(99441, 8)

In [4]:
df_items = pd.read_csv('olist_order_items_dataset.csv')
df_items.shape
# товарные позиции, входящие в заказы
# order_id —  уникальный идентификатор заказа (номер чека)

# order_item_id —  идентификатор товара внутри одного заказа

# product_id —  ид товара (аналог штрихкода)

# seller_id — ид производителя товара

# shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике

# price —  цена за единицу товара

# freight_value —  вес товара

(112650, 7)

In [5]:
# 4. Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? Не стоит забывать, 
# что внутри месяца может быть не целое количество недель. Например, в ноябре 2021 года 4,28 недели. 
# И внутри метрики это нужно учесть. (8 баллов)

In [6]:
# Cоберем датафрейм для анализа
df_order_plus_df_items = df_items.merge(df_order, on = 'order_id')

In [7]:
df = df_order_plus_df_items.merge(df_id, on = 'customer_id')
df.shape
df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP

In [8]:
# Можем убрать пропущенные значения, заказы без времени передачи заказа в логистическую службу, 
# времени доставки заказа и времени подтверждения оплаты заказа не интересуют, 
# т.к. мы их не считаем за покупку.
df = df.dropna()

In [9]:
# # для дальнейшей работы приведу все даты к формату Date, чтобы было проще работать с ними.
df.order_purchase_timestamp = pd.to_datetime(df.order_purchase_timestamp)
# df.order_approved_at = pd.to_datetime(df.order_approved_at)
# df.order_delivered_carrier_date = pd.to_datetime(df.order_delivered_carrier_date)
# df.order_delivered_customer_date = pd.to_datetime(df.order_delivered_customer_date)
# df.order_estimated_delivery_date = pd.to_datetime(df.order_estimated_delivery_date)

In [10]:
# cчитаем количество недель в месяце

df['weeks'] = df.order_purchase_timestamp.dt.days_in_month / 7

In [11]:
df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,weeks
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,4.285714
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,4.285714
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,4.428571
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,4.428571
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00,0c9aeda10a71f369396d0c04dce13a64,65077,sao luis,MA,4.285714
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00,0da9fe112eae0c74d3ba1fe16de0988b,81690,curitiba,PR,4.428571
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00,cd79b407828f02fdbba457111c38e4c4,4039,sao paulo,SP,4.428571
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00,eb803377c9315b564bdedad672039306,13289,vinhedo,SP,4.428571
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,4.285714

In [12]:
df['order_purchase_timestamp_name'] = df.order_purchase_timestamp.dt.month_name()
# переводим дату в формат названия месяца
df

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,weeks,order_purchase_timestamp_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,4.285714,September
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,eb28e67c4c0b83846050ddfb8a35d051,15775,santa fe do sul,SP,4.285714,April
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,6489ae5e4333f3693df5ad4372dab6d3,delivered,2018-01-14 14:33:31,2018-01-14 14:48:30,2018-01-16 12:36:48,2018-01-22 13:19:16,2018-02-05 00:00:00,3818d81c6709e39d06b2738a8d3a2474,35661,para de minas,MG,4.428571,January
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,d4eb9395c8c0431ee92fce09860c5a06,delivered,2018-08-08 10:00:35,2018-08-08 10:10:18,2018-08-10 13:28:00,2018-08-14 13:32:39,2018-08-20 00:00:00,af861d436cfc08b2c2ddefd0ba074622,12952,atibaia,SP,4.428571,August
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,64b576fb70d441e8f1b2d7d446e483c5,13226,varzea paulista,SP,4.000000,February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41,b51593916b4b8e0d6f66f2ae24f2673d,delivered,2018-04-23 13:57:06,2018-04-25 04:11:01,2018-04-25 12:09:00,2018-05-10 22:56:40,2018-05-18 00:00:00,0c9aeda10a71f369396d0c04dce13a64,65077,sao luis,MA,4.285714,April
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53,84c5d4fbaf120aae381fad077416eaa0,delivered,2018-07-14 10:26:46,2018-07-17 04:31:48,2018-07-17 08:05:00,2018-07-23 20:31:55,2018-08-01 00:00:00,0da9fe112eae0c74d3ba1fe16de0988b,81690,curitiba,PR,4.428571,July
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95,29309aa813182aaddc9b259e31b870e6,delivered,2017-10-23 17:07:56,2017-10-24 17:14:25,2017-10-26 15:13:14,2017-10-28 12:22:22,2017-11-10 00:00:00,cd79b407828f02fdbba457111c38e4c4,4039,sao paulo,SP,4.428571,October
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72,b5e6afd5a41800fdf401e0272ca74655,delivered,2017-08-14 23:02:59,2017-08-15 00:04:32,2017-08-15 19:02:53,2017-08-16 21:59:40,2017-08-25 00:00:00,eb803377c9315b564bdedad672039306,13289,vinhedo,SP,4.428571,August
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79,96d649da0cc4ff33bb408b199d4c7dcf,delivered,2018-06-09 17:00:18,2018-06-09 17:10:13,2018-06-11 14:11:00,2018-06-14 17:56:26,2018-06-28 00:00:00,cd76a00d8e3ca5e6ab9ed9ecb6667ac4,18605,botucatu,SP,4.285714,June

In [13]:
# группируем данные для расчета среднего кол-ва выполненых заказов
customer_per_month  = df.query('order_delivered_customer_date != ""')\
    .groupby(['customer_unique_id','order_purchase_timestamp_name','weeks'], as_index=False)\
    .agg({'order_status':'count'})\
    .rename(columns={'order_purchase_timestamp_name':'month','order_status':'avg_quantity'}) 
customer_per_month.head()

                 customer_unique_id     month     weeks  avg_quantity
0  0000366f3b9a7992bf8c76cfdf3221e2       May  4.428571             1
1  0000b849f77a49e4a4ce2b2a4ca5be3f       May  4.428571             1
2  0000f46a3911fa3c0805444483337064     March  4.428571             1
3  0000f6ccb0745a6a4b88665a16c9f078   October  4.428571             1
4  0004aac84e0df4da2b147fca70cf8255  November  4.285714             1

In [14]:
# выявляем среднее кол-во покупок
customer_per_month.avg_quantity = customer_per_month.avg_quantity / customer_per_month.weeks

In [15]:
customer_per_month

                     customer_unique_id     month     weeks  avg_quantity
0      0000366f3b9a7992bf8c76cfdf3221e2       May  4.428571      0.225806
1      0000b849f77a49e4a4ce2b2a4ca5be3f       May  4.428571      0.225806
2      0000f46a3911fa3c0805444483337064     March  4.428571      0.225806
3      0000f6ccb0745a6a4b88665a16c9f078   October  4.428571      0.225806
4      0004aac84e0df4da2b147fca70cf8255  November  4.285714      0.233333
...                                 ...       ...       ...           ...
95133  fffcf5a5ff07b0908bd4e2dbc735a684      June  4.285714      0.466667
95134  fffea47cd6d3cc0a88bd621562a9d061  December  4.428571      0.225806
95135  ffff371b4d645b6ecea244b27531430a  February  4.000000      0.250000
95136  ffff5962728ec6157033ef9805bacc48       May  4.428571      0.225806
95137  ffffd2657e2aad2907e67c3e9daecbeb       May  4.428571      0.225806

[95138 rows x 4 columns]

In [16]:
# Мы посчитали среднее количество заказов, но есть одно но, мы не учли, что уникальных
# customer_per_month меньше, чем shape таблицы, а это значит, что покупки одного пользователя
# посчитаны несколько раз, попробуем это исправить.
customer_per_month.customer_unique_id.nunique()

93342

In [17]:
# группируем данные для расчета среднего кол-ва выполненых заказов для уникальных пользователей
customer_per_month_new  = df.query('order_delivered_customer_date != ""')\
                            .groupby(['customer_unique_id'], as_index=False)\
                            .agg({'order_status':'count', 'weeks':'sum'})\
                            .rename(columns={'order_status':'quantity'})\
                            .sort_values('quantity')
customer_per_month_new['avg_quantity'] = customer_per_month_new.quantity/customer_per_month_new.weeks
customer_per_month_new
# отражает среднее в месяц в который была активность(покупка) к общему количеству месяцев.

                     customer_unique_id  quantity       weeks  avg_quantity
0      0000366f3b9a7992bf8c76cfdf3221e2         1    4.428571      0.225806
60147  a4d0930cca1e47704dc6a35dc942efcb         1    4.428571      0.225806
60146  a4d015be0feb92a1a6f955aa522cd956         1    4.428571      0.225806
60145  a4cf1b712d67ebba4ec2f4136458ed2d         1    4.285714      0.233333
60144  a4cecd7c493ae3d99e588a79160e3b04         1    4.428571      0.225806
...                                 ...       ...         ...           ...
5622   0f5ac8d5c31de21d2f25e24be15bbffb        18   77.142857      0.233333
38575  698e1cf81d01a3d389d96145f7fa6df8        20   88.571429      0.225806
71556  c402f431464c72e27330a67f7b94d4fb        20   80.000000      0.250000
25305  4546caea018ad8c692964e3382debd19        21   93.000000      0.225806
73116  c8460e4251689ba205045f3ea17884a1        24  106.285714      0.225806

[93342 rows x 4 columns]

In [18]:
# Но и это ещё не все, на примере пользователя, видим, что order_item_id идёт по возрастающей
# это скорее всего позция в чеке, т.к время  у заказов с order_item_id  1,2,3 совпадает, отберем
# значения только с order_item_id = 1. Для того, чтобы посчитать реальное количество покупок.

# Строчку использовал для проверки, что все что идет ниже действительно верно отфильтровал, 
# и не посчитал покупку за одну дату за несколько покупок
df.query("customer_unique_id== 'ca77025e7201e3b30c44b472ff346268'")

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,weeks,order_purchase_timestamp_name
62058,8dacd1da7c4dc40d5c59e7ddd93b3ac8,1,8e0f2a25d10756a2202d5d7623e03449,53e4c6e0f4312d4d2107a8c9cddf45cd,2018-06-11 03:31:09,74.99,19.21,6ccedfba5919d72fcc8c51bfa982de62,delivered,2018-06-01 11:38:29,2018-06-02 03:31:41,2018-06-04 14:37:00,2018-06-12 22:34:44,2018-07-18 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.285714,June
69258,9e22fb4a47d29059ef9689ca8b26d8b3,1,6e41ce53043104a92912099c90215f1e,4a1f694197d05fe70026b016a7316b41,2018-02-22 01:07:45,49.99,18.90,dc7dc47999d1b3c4c2f6a085a1a76eef,delivered,2018-02-17 01:22:20,2018-02-17 02:07:45,2018-02-19 15:48:39,2018-03-12 22:05:09,2018-03-19 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.000000,February
69259,9e22fb4a47d29059ef9689ca8b26d8b3,2,1fa419f430caa58899132fe77917b7b6,4a1f694197d05fe70026b016a7316b41,2018-02-22 01:07:45,56.99,18.91,dc7dc47999d1b3c4c2f6a085a1a76eef,delivered,2018-02-17 01:22:20,2018-02-17 02:07:45,2018-02-19 15:48:39,2018-03-12 22:05:09,2018-03-19 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.000000,February
69260,9e22fb4a47d29059ef9689ca8b26d8b3,3,ce497a3d92ec305f5d9ef0c4b6980a95,4a1f694197d05fe70026b016a7316b41,2018-02-22 01:07:45,49.99,18.90,dc7dc47999d1b3c4c2f6a085a1a76eef,delivered,2018-02-17 01:22:20,2018-02-17 02:07:45,2018-02-19 15:48:39,2018-03-12 22:05:09,2018-03-19 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.000000,February
87678,c70e1bd940c5723bf066a1dbcc1455e8,1,29428180f6710d477f3c85fb06adb593,0176f73cc1195f367f7b32db1e5b3aa8,2018-02-15 16:31:07,125.90,33.33,b145bff18e79ac4dfb3fb91e61906f38,delivered,2018-02-09 15:43:37,2018-02-10 10:18:45,2018-02-14 21:57:04,2018-02-27 16:50:09,2018-03-13 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.000000,February
90071,cc9782f02aae34f01d12f3dbee4d5d93,1,d84339772d824505b7f19e647f373ec3,b2479f944e1b90cf8a5de1bbfde284d6,2018-05-09 06:31:19,10.99,37.04,852e5ea6e9d74416ddf88bdbdb3189b9,delivered,2018-05-03 06:11:22,2018-05-03 06:32:14,2018-05-04 12:50:00,2018-05-12 17:58:30,2018-06-04 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,May
90072,cc9782f02aae34f01d12f3dbee4d5d93,2,d84339772d824505b7f19e647f373ec3,b2479f944e1b90cf8a5de1bbfde284d6,2018-05-09 06:31:19,10.99,37.04,852e5ea6e9d74416ddf88bdbdb3189b9,delivered,2018-05-03 06:11:22,2018-05-03 06:32:14,2018-05-04 12:50:00,2018-05-12 17:58:30,2018-06-04 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,May
90073,cc9782f02aae34f01d12f3dbee4d5d93,3,d84339772d824505b7f19e647f373ec3,b2479f944e1b90cf8a5de1bbfde284d6,2018-05-09 06:31:19,10.99,37.04,852e5ea6e9d74416ddf88bdbdb3189b9,delivered,2018-05-03 06:11:22,2018-05-03 06:32:14,2018-05-04 12:50:00,2018-05-12 17:58:30,2018-06-04 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,May
90074,cc9782f02aae34f01d12f3dbee4d5d93,4,d84339772d824505b7f19e647f373ec3,b2479f944e1b90cf8a5de1bbfde284d6,2018-05-09 06:31:19,10.99,37.04,852e5ea6e9d74416ddf88bdbdb3189b9,delivered,2018-05-03 06:11:22,2018-05-03 06:32:14,2018-05-04 12:50:00,2018-05-12 17:58:30,2018-06-04 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,May
91864,d07179898f582cd4b62f9f5328698baf,1,554bc96f8adc27819810a1aacf333535,53e4c6e0f4312d4d2107a8c9cddf45cd,2018-05-03 11:55:27,74.99,20.57,71f39c371308d132d7633895477dd307,delivered,2018-04-26 11:44:48,2018-04-26 11:55:27,2018-05-02 14:21:00,2018-05-10 18:12:33,2018-05-24 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.285714,April
104984,ee84d18908ccf2b4c57008c552b98d1c,1,108dfaacffadeceb87032609d340722c,b2ba3715d723d245138f291a6fe42594,2017-10-17 04:26:26,269.90,19.17,fc709ab645b71acd6046aeb03b590aa5,delivered,2017-10-09 12:34:39,2017-10-10 03:26:26,2017-10-16 19:04:42,2017-11-07 00:26:48,2017-11-03 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,October
107080,f3584b023b097595c8e2b0b6fd51a839,1,f7b39dca4a425dcfd4a8b0b0aac4b7c0,2a7dc43cecabf23403078e2188437d1d,2018-01-31 21:18:23,59.90,18.96,c59e684f832f832056ceee2c310cfc7f,delivered,2018-01-25 21:10:57,2018-01-25 21:18:23,2018-01-26 23:38:48,2018-02-06 22:26:16,2018-02-26 00:00:00,ca77025e7201e3b30c44b472ff346268,51021,recife,PE,4.428571,January

In [19]:
real_quantity_per_user = df.query("order_item_id== '1'")\
                      .query('order_delivered_customer_date != ""')\
                      .groupby(['customer_unique_id'],as_index = False )\
                      .agg({'product_id' :'count'})\
                      .sort_values('product_id', ascending = False)\
                      .rename(columns={'product_id':'real_quantity'})
real_quantity_per_user

                     customer_unique_id  real_quantity
51424  8d50f5eadf50201ccdcedfb9e2ac8455             15
22775  3e43e6105506432c953e165fb2acf44c              9
10058  1b6c7548a2a1f9037c1fd3ddfed95f33              7
36702  6469f99c1f9dfae7733b25662e7f1782              7
73909  ca77025e7201e3b30c44b472ff346268              7
...                                 ...            ...
31558  5657dfebff5868c4dc7e8355fea865c4              1
31557  5657596addb4d7b07b32cd330614bdf8              1
31556  5656eb169546146caeab56c3ffc3d268              1
31555  5656a8fabc8629ff96b2bc14f8c09a27              1
93341  ffffd2657e2aad2907e67c3e9daecbeb              1

[93342 rows x 2 columns]

In [20]:
# Cмержим с датафреймом, чтобы посчитать новое значение среднего

In [21]:
real_avg_per_user = real_quantity_per_user.merge(customer_per_month_new, on = 'customer_unique_id')
real_avg_per_user['real_avg'] = real_avg_per_user.real_quantity/real_avg_per_user.weeks
real_avg_per_user

,customer_unique_id,real_quantity,quantity,weeks,avg_quantity,real_avg
0,8d50f5eadf50201ccdcedfb9e2ac8455,15,15,66.000000,0.227273,0.227273
1,3e43e6105506432c953e165fb2acf44c,9,14,59.285714,0.236145,0.151807
2,1b6c7548a2a1f9037c1fd3ddfed95f33,7,9,39.000000,0.230769,0.179487
3,6469f99c1f9dfae7733b25662e7f1782,7,9,39.428571,0.228261,0.177536
4,ca77025e7201e3b30c44b472ff346268,7,12,51.142857,0.234637,0.136872
...,...,...,...,...,...,...
93337,5657dfebff5868c4dc7e8355fea865c4,1,1,4.285714,0.233333,0.233333
93338,5657596addb4d7b07b32cd330614bdf8,1,1,4.285714,0.233333,0.233333
93339,5656eb169546146caeab56c3ffc3d268,1,1,4.428571,0.225806,0.225806
93340,5656a8fabc8629ff96b2bc14f8c09a27,1,1,4.285714,0.233333,0.233333
93341,ffffd2657e2aad2907e67c3e9daecbeb,1,1,4.428571,0.225806,0.225806

In [22]:
# Также на мой взгляд, разумно посчитать среднее количество покупок следующим образом -
# (время жизни клиента/количество покупок), где время жизни клиента это текущая дата минус дата
# первой покупки.
# За текущую дату примем максимальную дату время создание заказа, предположив,что выгрузка
# была в эту дату.

In [23]:
today = df.order_purchase_timestamp.max()
today

Timestamp('2018-08-29 15:00:37')

In [24]:
# Посчитаем сколько в неделях пользователь с нами (today -order_purchase_timestamp ) перед этим
# уберем время из дат, оставив только даты.

In [25]:
df_with_us = df[['customer_unique_id','order_purchase_timestamp']]
df_with_us['order_purchase_timestamp'] = df_with_us['order_purchase_timestamp'].dt.date
today = today.date()
df_with_us['time_with_us'] = (today - df_with_us.order_purchase_timestamp)
df_with_us

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

                      customer_unique_id order_purchase_timestamp time_with_us
0       871766c5855e863f6eccc05f988b23cb               2017-09-13     350 days
1       eb28e67c4c0b83846050ddfb8a35d051               2017-04-26     490 days
2       3818d81c6709e39d06b2738a8d3a2474               2018-01-14     227 days
3       af861d436cfc08b2c2ddefd0ba074622               2018-08-08      21 days
4       64b576fb70d441e8f1b2d7d446e483c5               2017-02-04     571 days
...                                  ...                      ...          ...
112645  0c9aeda10a71f369396d0c04dce13a64               2018-04-23     128 days
112646  0da9fe112eae0c74d3ba1fe16de0988b               2018-07-14      46 days
112647  cd79b407828f02fdbba457111c38e4c4               2017-10-23     310 days
112648  eb803377c9315b564bdedad672039306               2017-08-14     380 days
112649  cd76a00d8e3ca5e6ab9ed9ecb6667ac4               2018-06-09      81 days

[110180 rows x 3 columns]

In [26]:
# Cреди customer_unique_id оставляем только те для которых время time_with_us - максимальное.
# так мы найдем время которое пользователь с нами исключая счетчик с новых заказов.

In [27]:
max_time_with_us = df_with_us.groupby('customer_unique_id')['time_with_us']\
                              .max()\
                              .reset_index()\
                              .rename(columns = {'time_with_us':'real_time_with_us'})
max_time_with_us.head()

                 customer_unique_id real_time_with_us
0  0000366f3b9a7992bf8c76cfdf3221e2          111 days
1  0000b849f77a49e4a4ce2b2a4ca5be3f          114 days
2  0000f46a3911fa3c0805444483337064          537 days
3  0000f6ccb0745a6a4b88665a16c9f078          321 days
4  0004aac84e0df4da2b147fca70cf8255          288 days

In [28]:
max_time_with_us.dtypes

customer_unique_id             object
real_time_with_us     timedelta64[ns]
dtype: object

In [29]:
# Переведем значения real_time_with_us в недели, и смержим с другим датафреймом чтобы посчитать 
# среднее количество покупок в неделю по месяцам в которые пользователь присутсвовал на сервисе.
# и посчитаем среднее
max_time_with_us['real_time_with_us'] = max_time_with_us['real_time_with_us'] / pd.Timedelta(1, 'W')

In [30]:
real_2_avg = max_time_with_us.merge(real_avg_per_user, on = 'customer_unique_id')
real_2_avg['real_2_avg'] = real_2_avg.real_quantity/real_2_avg.real_time_with_us
real_2_avg.sort_values('real_2_avg')

,customer_unique_id,real_time_with_us,real_quantity,quantity,weeks,avg_quantity,real_avg,real_2_avg
47876,830d5b7aaa3b6f1e9ad63703bec97d23,101.857143,1,3,12.857143,0.233333,0.077778,0.009818
35806,61db744d2f835035a5625b59350c6b63,99.285714,1,1,4.428571,0.225806,0.225806,0.010072
42233,7390ed59fa1febbfda31a80b4318c8cb,99.285714,1,1,4.428571,0.225806,0.225806,0.010072
6221,10e89fd8e5c745f81bec101207ba4d7d,99.285714,1,1,4.428571,0.225806,0.225806,0.010072
49404,87776adb449c551e74c13fc34f036105,99.285714,1,1,4.428571,0.225806,0.225806,0.010072
...,...,...,...,...,...,...,...,...
66812,b701bebbdf478f5500348f03aff62121,0.000000,1,1,4.428571,0.225806,0.225806,inf
33808,5c58de6fb80e93396e2f35642666b693,0.000000,1,2,8.857143,0.225806,0.112903,inf
4587,0c6d7218d5f3fa14514fd29865269993,0.000000,1,1,4.428571,0.225806,0.225806,inf
46733,7febafa06d9d8f232a900a2937f04338,0.000000,1,1,4.428571,0.225806,0.225806,inf
1510,0421e7a23f21e5d54efed456aedbc513,0.000000,1,1,4.428571,0.225806,0.225806,inf

In [31]:
# Проверим что ничего не потеряли
df.query('order_delivered_customer_date != ""') \
    .customer_unique_id.nunique() == customer_per_month.customer_unique_id.nunique() == real_2_avg.customer_unique_id.nunique()

True

In [32]:
# real_time_with_us появились нули, а в значениии real_2_avg inf, я думаю это вызвано, тем,
# что мы приняли дату выгрузки на сегодня - today, а в этот день были заказы, уберем их датафрейма,
# чтобы посчитать среднии значения и посмотреть график.
real_2_avg.describe()

,real_time_with_us,real_quantity,quantity,weeks,avg_quantity,real_avg,real_2_avg
count,93342.000000,93342.000000,93342.000000,93342.000000,93342.000000,93342.000000,9.334200e+04
mean,34.301082,1.033415,1.180390,5.132253,0.230171,0.217548,inf
std,21.870369,0.209091,0.620901,2.701049,0.006885,0.038862,NaN
min,0.000000,1.000000,1.000000,4.000000,0.225806,0.010753,9.817672e-03
25%,16.571429,1.000000,1.000000,4.285714,0.225806,0.225806,2.046784e-02
50%,31.571429,1.000000,1.000000,4.428571,0.225806,0.225806,3.255814e-02
75%,50.000000,1.000000,1.000000,4.428571,0.233333,0.233333,6.194690e-02
max,101.857143,15.000000,24.000000,106.285714,0.250000,0.250000,inf

In [33]:
total_df = real_2_avg.query("real_2_avg!='inf'and real_2_avg!='NaN'")
total_df.describe()
# По той же причине максимальное значение очень большое, пользователь только зарегестрировался
# и уже сделал покупку

,real_time_with_us,real_quantity,quantity,weeks,avg_quantity,real_avg,real_2_avg
count,93331.000000,93331.000000,93331.000000,93331.000000,93331.000000,93331.000000,93331.000000
mean,34.305124,1.033419,1.180358,5.132098,0.230171,0.217550,0.081481
std,21.868487,0.209103,0.620803,2.700597,0.006885,0.038859,0.221958
min,0.142857,1.000000,1.000000,4.000000,0.225806,0.010753,0.009818
25%,16.571429,1.000000,1.000000,4.285714,0.225806,0.225806,0.020468
50%,31.571429,1.000000,1.000000,4.428571,0.225806,0.225806,0.032558
75%,50.000000,1.000000,1.000000,4.428571,0.233333,0.233333,0.061947
max,101.857143,15.000000,24.000000,106.285714,0.250000,0.250000,7.000000

In [34]:
# Выводы: На мой взгляд смотреть среднее количество покупок по месяцам разумнее, как количество
#     покупок у пользователя разделенное на период его нахождения с нами(время с начала регистрации
#     по сегодняшний день) т.к. иначе мы получаем среднее количество покупок по неделям 
#     в месяц только в активные месяцы(когда была покупка), такая метрика тоже имеет место быть, 
#     но для сравнения активности пользователей на дистанции я бы пользовался все таки метрикой, 
#     которая показывает среднее количество покупок в неделю по месяцам в течение всего времени пока
#     пользователей с нами, например, если у какой - то группы пользователей снижается среднее 
#     количество покупок на дистанции, значит самое время им напомнить, что давно они ничего не
#     заказывали у нас. И real_2_avg среднее заметно ниже, чем у других метрих, т.к. мы смотрим
#     на большой дистанции.